Backtesting==0.3.3
bokeh==3.5.0
ccxt==4.3.55
coinbase==2.1.0
coinbase_advanced_py==1.4.2
gym==0.23.1
gym==0.26.2
joblib==1.4.2
keras==3.4.1
keras_nightly==3.4.1.dev2024080503
numpy==2.0.1
pandas==2.2.2
scikeras==0.13.0
scikit_learn==1.5.1
streamlit==1.37.1
ta==0.11.0
tensorflow==2.17.0
tensorflow_intel==2.17.0
tf_nightly_intel==2.18.0.dev20240805
torch==2.4.0
torch==2.3.1
yfinance==0.2.40
yfinance==0.2.41
